/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 1000px;
	position: relative;
	float: center;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
.style1 {color: #EF2C2C}
.style2 {font-size: 28px; font-style:bold}
.style3 {font-size: 14px}
.style4 {font-size: medium}

.listhead {
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.list {
	color: #999;
	font-size: 12px;
}
#main-holder {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	position: absolute;
	width: 620px;
	top: 0px;
	left: 220px;
}
#left-panel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	position: relative;
	height: 40px;
	width: 200px;
	left: 10px;
}
#title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	padding: 5px;
	width: 560px;
	position: relative;
	text-align: left;
	vertical-align: middle;
	top: -45px;
}
#seo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	padding: 5px;
	height: 35px;
	width: 560px;
	position: relative;
	top: -80px;
	text-align: left;
	vertical-align: middle;
	left: 120px;
}
#menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #FFF;
	padding: 5px;
	height: auto;
	width: 280px;
	position: relative;
	text-align: left;
	vertical-align: top;
	left: -20px;
	top: -20px;
}
#logo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	color: #666666;
	padding: 5px;
	height: 45px;
	width: 560px;
	position: relative;
	text-align: left;
}
#images {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	padding: 5px;
	height: auto;
	width: 620px;
	position: relative;
	text-align: left;
	vertical-align: top;
	top: -55px;
	left: -10px;
}
#copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	padding: 5px;
	width: 600px;
	position: relative;
}
#news {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #666;
	padding: 5px;
	height: 1200px;
	width: 600px;
	position: relative;
	background-color: #F6F6F6;
	left: -5;
}
h1 {font-size: 18px;color: #000000;}

a:link {text-decoration: none;	color: #000000;}
a:visited {text-decoration: none; color: #000000;}
a:hover {text-decoration: none; color: #EF2C2C;}
a:active {
	text-decoration: none;
	color: #EF2C2C;
	font-size: 14px;
}
a {	font-size: 19px;font-weight: bold;}

.class2 a:link {text-decoration: none;	color: #000000;}
.class2 a:visited {text-decoration: none; color: #000000;}
.class2 a:active {text-decoration: none; color: #EF2C2C;}
.class2 a:hover {text-decoration: none; color: #EF2C2C;}
.class2 a {	font-size: 14px;font-weight: bold;}

#main-menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 200px;
	width: 200px;
	position: relative;
}
#container {
	width: 1000px;
	float: centre;
	position: relative;
	left: 10px;
}
.text {
	font-size: 12px;
}
.tiny {
	font-size: 9px;
}
.blue {
	color: #0059A0;
}
