RewriteEngine on

Redirect 301 /index.html http://simonwinstanley.com/
Redirect 301 /index.php http://simonwinstanley.com/
Redirect 301 /projects/low_energy_houses/mackilston.shtml http://simonwinstanley.com/projects/the-houl/?proj-id=1
Redirect 301 /profile/architectural-design-awards.shtml http://simonwinstanley.com/profile.php#awards
Redirect 301 /services/chartered-architects.shtml http://simonwinstanley.com/profile.php
Redirect 301 /consultants-links/consultants-links.shtml http://www.candwarch.co.uk/consultants-links/consultants-links.php
Redirect 301 /contemporary-architects/sustainable-architecture.html http://simonwinstanley.com/profile.php
Redirect 301 /projects/low_energy_houses/zero-carbon-homes.shtml http://simonwinstanley.com/projects.php
Redirect 301 /projects/low_energy_houses/gibbs-house.shtml http://www.candwarch.co.uk/projects/low_energy_houses/gibbs-house.php
Redirect 301 /projects/low_energy_houses/ardlochan-road.shtml http://www.candwarch.co.uk/projects/low_energy_houses/ardlochan-road.php
Redirect 301 /projects/listed_buildings/listed-buildings-conservation.shtml http://www.candwarch.co.uk/projects/listed_buildings/listed-buildings-conservation.php
Redirect 301 /projects/low_energy_houses/townyetholm.shtml http://www.candwarch.co.uk/projects/low_energy_houses/townyetholm.php
Redirect 301 /projects/efficient-houses.shtml http://www.candwarch.co.uk/projects/efficient-houses.php
Redirect 301 /contact.shtml http://simonwinstanley.com/contact.php
Redirect 301 /projects/low_energy_houses/the-holm.shtml http://www.candwarch.co.uk/projects/low_energy_houses/the-holm.php
Redirect 301 /projects/low_energy_houses/contemporary-architects.shtml http://simonwinstanley.com/
Redirect 301 /projects/low_energy_houses/gairlochy.shtml http://www.candwarch.co.uk/projects/low_energy_houses/gairlochy.php
Redirect 301 /projects/low_energy_houses/gowanbrae.shtml http://www.candwarch.co.uk/projects/low_energy_houses/gowanbrae.php
Redirect 301 /projects/health_and_community/health-and-community.shtml http://www.candwarch.co.uk/projects/health_and_community/health-and-community.php
Redirect 301 /projects/low_energy_houses/the-kennels.shtml http://www.candwarch.co.uk/projects/low_energy_houses/the-kennels.php
Redirect 301 /projects/low_energy_houses/plot4-parkhouse.shtml http://www.candwarch.co.uk/projects/low_energy_houses/plot4-parkhouse.php
Redirect 301 /projects/steading_conversions/steading-conversions.shtml http://www.candwarch.co.uk/projects/steading_conversions/steading-conversions.php
Redirect 301 /projects/low_energy_houses/bratney-walls-pond.shtml http://www.candwarch.co.uk/projects/low_energy_houses/bratney-walls-pond.php
Redirect 301 /projects/listed_buildings/bamagachan.html http://www.candwarch.co.uk/projects/listed_buildings/bamagachan.php
Redirect 301 /projects/health_and_community/glenkens_surgery.shtml http://www.candwarch.co.uk/projects/health_and_community/glenkens_surgery.php
Redirect 301 /projects/extension_and_transformation/the-brae.shtml http://simonwinstanley.com/projects/the-brae/?proj-id=8
Redirect 301 /projects/low_energy_houses/ford-house.shtml http://simonwinstanley.com/projects/fordhouse/?proj-id=4
Redirect 301 /projects/on-the-drawing-board/new-architectural-projects.html http://www.candwarch.co.uk/projects/on-the-drawing-board/new-architectural-projects.php
Redirect 301 /projects/leisure_and_arts/discovery-centre.html http://www.candwarch.co.uk/projects/leisure_and_arts/discovery-centre.php
Redirect 301 /projects/low_energy_houses/dalshangan-wood.shtml http://www.candwarch.co.uk/projects/low_energy_houses/dalshangan-wood.php
Redirect 301 /projects/leisure_and_arts/locharthur-farm-shop.html http://simonwinstanley.com/projects/locharthur-farm-shop/?proj-id=10
Redirect 301 /projects/low_energy_houses/new-house-designs-ideas.shtml http://www.candwarch.co.uk/projects/low_energy_houses/new-house-designs-ideas.php
Redirect 301 /projects/leisure_and_arts/care-village.shtml http://www.candwarch.co.uk/projects/leisure_and_arts/care-village.php
Redirect 301 /projects/extension_and_transformation/extension-and-transformation.shtml http://www.candwarch.co.uk/projects/extension_and_transformation/extension-and-transformation.php
Redirect 301 /projects/steading_conversions/low-milton-steading.shtml http://www.candwarch.co.uk/projects/steading_conversions/low-milton-steading.php
Redirect 301 /projects/steading_conversions/dunmuck.shtml http://www.candwarch.co.uk/projects/steading_conversions/dunmuck.php
Redirect 301 /projects/steading_conversions/quarry-cottage.shtml http://www.candwarch.co.uk/projects/steading_conversions/quarry-cottage.php
Redirect 301 /projects/housing_developments/cotton-street.shtml http://www.candwarch.co.uk/projects/housing_developments/cotton-street.php
Redirect 301 /projects/low_energy_houses/darjeeling.html http://simonwinstanley.com/projects/taigh-sonas/?proj-id=2
Redirect 301 /projects/listed_buildings/cargengrove.shtml http://simonwinstanley.com/projects/cargengrove/?proj-id=6
Redirect 301 /projects/extension_and_transformation/barfil.shtml http://www.candwarch.co.uk/projects/extension_and_transformation/barfil.php
Redirect 301 /projects/leisure_and_arts/kirkland-street-studio.shtml http://simonwinstanley.com/projects/kirkland-street-studio/?proj-id=9
Redirect 301 /projects/health_and_community/kilquhanity_childrens-village.shtml http://www.candwarch.co.uk/projects/health_and_community/kilquhanity_childrens-village.php
Redirect 301 /projects/health_and_community/dunmuir-veterinary-surgery.shtml http://www.candwarch.co.uk/projects/health_and_community/dalbeattie-discovery-centre.php
Redirect 301 /projects/steading_conversions/west-kirkcarswell.shtml http://www.candwarch.co.uk/projects/steading_conversions/west-kirkcarswell.php
Redirect 301 /projects/steading_conversions/dromore-steading.shtml http://www.candwarch.co.uk/projects/steading_conversions/dromore-steading.php
Redirect 301 /projects/steading_conversions/barholm.shtml http://www.candwarch.co.uk/projects/steading_conversions/barholm.php
Redirect 301 /projects/low_energy_houses/london-road.shtml http://www.candwarch.co.uk/projects/low_energy_houses/london-road.php
Redirect 301 /projects/extension_and_transformation/alderlee.shtml http://www.candwarch.co.uk/projects/extension_and_transformation/alderlee.php
Redirect 301 /projects/steading_conversions/campdouglas-steading.shtml http://www.candwarch.co.uk/projects/steading_conversions/campdouglas-steading.php
Redirect 301 /projects/listed_buildings/conchieton-house.shtml http://www.candwarch.co.uk/projects/listed_buildings/conchieton-house.php
Redirect 301 /projects/extension_and_transformation/craig-cottage.shtml http://www.candwarch.co.uk/projects/extension_and_transformation/craig-cottage.php
Redirect 301 /projects/listed_buildings/copper-cottage.shtml http://www.candwarch.co.uk/projects/listed_buildings/copper-cottage.php
Redirect 301 /projects/housing_developments/palace-cinema.shtml http://www.candwarch.co.uk/projects/housing_developments/palace-cinema.php
Redirect 301 /projects/housing_developments/monreith.shtml http://www.candwarch.co.uk/projects/housing_developments/monreith.php
Redirect 301 /projects/extension_and_transformation/shelterstone.shtml http://www.candwarch.co.uk/projects/extension_and_transformation/shelterstone.php
Redirect 301 /consultants-links/consultants-links.shtml http://www.candwarch.co.uk/consultants-links/consultants-links.php
Redirect 301 /projects/low_energy_houses/zero-carbon-homes.shtml http://www.candwarch.co.uk/projects/low_energy_houses/zero-carbon-homes.php
Redirect 301 /projects/listed_buildings/bamagachan.html http://www.candwarch.co.uk/projects/listed_buildings/bamagachan.php
Redirect 301 /projects/low_energy_houses/mid-kelton.shtml http://www.candwarch.co.uk/projects/low_energy_houses/mid-kelton.php
Redirect 301 /projects/low_energy_houses/cliff-cottage.html http://www.candwarch.co.uk/projects/low_energy_houses/cliff-cottage.php
Redirect 301 /projects/low_energy_houses/marbrack.shtml http://www.candwarch.co.uk/projects/low_energy_houses/marbrack.php
Redirect 301 /projects/low_energy_houses/the-holm.shtml http://www.candwarch.co.uk/projects/low_energy_houses/the-holm.php
Redirect 301 /projects/low_energy_houses/contemporary-architects.shtml http://www.candwarch.co.uk/projects/low_energy_houses/contemporary-architects.php
Redirect 301 /projects/low_energy_houses/the-kennels.shtml http://www.candwarch.co.uk/projects/low_energy_houses/the-kennels.php
Redirect 301 /projects/low_energy_houses/chapel-bothy.shtml http://www.candwarch.co.uk/projects/low_energy_houses/chapel-bothy.php
Redirect 301 /projects/extension_and_transformation/extension-and-transformation.shtml http://www.candwarch.co.uk/projects/extension_and_transformation/extension-and-transformation.php
Redirect 301 /projects/low_energy_houses/west-ringuinea.shtml http://www.candwarch.co.uk/projects/low_energy_houses/west-ringuinea.php
Redirect 301 /projects/health_and_community/bothwell-house.shtml http://www.candwarch.co.uk/projects/health_and_community/bothwell-house.php
Redirect 301 /projects/leisure_and_arts/darach.shtml http://www.candwarch.co.uk/projects/leisure_and_arts/darach.php
Redirect 301 /projects/steading_conversions/steading-conversions.shtml http://www.candwarch.co.uk/projects/steading_conversions/steading-conversions.php
Redirect 301 /projects/leisure_and_arts/bothwell-house.shtml http://www.candwarch.co.uk/projects/leisure_and_arts/bothwell-house.php
Redirect 301 /projects/leisure_and_arts/glenkens-surgery.html http://www.candwarch.co.uk/projects/leisure_and_arts/glenkens-surgery.php
Redirect 301 /projects/leisure_and_arts/care-village.shtml http://www.candwarch.co.uk/projects/leisure_and_arts/care-village.php
Redirect 301 /projects/low_energy_houses/plot4-parkhouse.shtml http://www.candwarch.co.uk/projects/low_energy_houses/plot4-parkhouse.php
Redirect 301 /projects/steading_conversions/low-milton-steading.shtml http://www.candwarch.co.uk/projects/steading_conversions/low-milton-steading.php
Redirect 301 /projects/leisure_and_arts/merrick-leisure-centre.shtml http://www.candwarch.co.uk/projects/leisure_and_arts/merrick-leisure-centre.php
Redirect 301 /projects/extension_and_transformation/alderlee.shtml http://www.candwarch.co.uk/projects/extension_and_transformation/alderlee.php
Redirect 301 /projects/housing_developments/cotton-street.shtml http://www.candwarch.co.uk/projects/housing_developments/cotton-street.php
Redirect 301 /projects/low_energy_houses/Site4-carsphairn.shtml http://www.candwarch.co.uk/projects/low_energy_houses/Site4-carsphairn.php
Redirect 301 /projects/steading_conversions/dromore-steading.shtml http://www.candwarch.co.uk/projects/steading_conversions/dromore-steading.php
Redirect 301 /projects/low_energy_houses/new-house-designs-ideas.shtml http://www.candwarch.co.uk/projects/low_energy_houses/new-house-designs-ideas.php
Redirect 301 /projects/housing_developments/southfield-park.shtml http://www.candwarch.co.uk/projects/housing_developments/southfield-park.php
Redirect 301 /projects/leisure_and_arts/bird-centre.shtml http://www.candwarch.co.uk/projects/leisure_and_arts/bird-centre.php
Redirect 301 /projects/extension_and_transformation/shelterstone.shtml http://www.candwarch.co.uk/projects/extension_and_transformation/shelterstone.php
Redirect 301 /projects/housing_developments/mill-road.shtml http://www.candwarch.co.uk/projects/housing_developments/mill-road.php
Redirect 301 /projects/on-the-drawing-board/new-architectural-projects.html http://www.candwarch.co.uk/projects/on-the-drawing-board/new-architectural-projects.php
Redirect 301 /projects/leisure_and_arts/discovery-centre.html http://www.candwarch.co.uk/projects/leisure_and_arts/discovery-centre.php
Redirect 301 /projects/steading_conversions/parton-mill-granary.shtml http://www.candwarch.co.uk/projects/steading_conversions/parton-mill-granary.php
Redirect 301 /projects/listed_buildings/conchieton-house.shtml http://www.candwarch.co.uk/projects/listed_buildings/conchieton-house.php
Redirect 301 /projects/low_energy_houses/dalshangan-wood.shtml http://www.candwarch.co.uk/projects/low_energy_houses/dalshangan-wood.php
Redirect 301 /projects/steading_conversions/barholm.shtml http://www.candwarch.co.uk/projects/steading_conversions/barholm.php
Redirect 301 /projects/steading_conversions/dunmuck.shtml http://www.candwarch.co.uk/projects/steading_conversions/dunmuck.php
Redirect 301 /projects/low_energy_houses/london-road.shtml http://www.candwarch.co.uk/projects/low_energy_houses/london-road.php
Redirect 301 /projects/extension_and_transformation/craig-cottage.shtml http://www.candwarch.co.uk/projects/extension_and_transformation/craig-cottage.php
Redirect 301 /projects/listed_buildings/copper-cottage.shtml http://www.candwarch.co.uk/projects/listed_buildings/copper-cottage.php
Redirect 301 /projects/health_and_community/kilquhanity_childrens-village.shtml http://www.candwarch.co.uk/projects/health_and_community/kilquhanity_childrens-village.php
Redirect 301 /projects/housing_developments/monreith.shtml http://www.candwarch.co.uk/projects/housing_developments/monreith.php
Redirect 301 /projects/steading_conversions/campdouglas-steading.shtml http://www.candwarch.co.uk/projects/steading_conversions/campdouglas-steading.php
Redirect 301 /projects/housing_developments/scottish-architects.shtml http://www.candwarch.co.uk/projects/housing_developments/scottish-architects.php
Redirect 301 /consultants-links/consultants-links.shtml http://simonwinstanley.com/